h1 {
    color: #156405;
    font-style: italic;
    font-size: 30px;
    margin-left: 30px;
  }

  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #f6f6fe;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a:hover {
    background: #dfdfdf;
    border: 1px solid #fafafa;
    position: relative;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(90deg, rgba(215,215,215,1) 0%, rgba(215,215,215,0.165703781512605) 100%);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .sidenav a {
    padding: 15px 6px 6px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .sidenav a:hover {
    color: #156405;
  }
  
  .main {
    margin-left: 280px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 1s8px;}
  }

  .Profile {
    position: absolute;
    bottom: 8px;
    left: 0px;
    list-style-type: none;
  }

div h2 {
    padding: 20px 0 0 0;
    cursor: pointer;
}


* {box-sizing: border-box;}
form {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

input, button {
  border: none;
  outline: none;
  border-radius: 3px;
}

input {
  width: 100%;
  height: 42px;
  background: #f6f6fe;
  padding-left: 15px;
}

button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #414141;
  cursor: pointer;
}

button:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 10%;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  text-align: left;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.cards {
  margin-left: 300px;
}

.Profile a:hover {
  color: #640505;
}